@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

$clr_brand: #1039a9;

body {
  background: darken($clr_brand, 20%);
  color: lighten($clr_brand, 60%);
  font-family: "Roboto Condensed", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  padding: 2rem;
  margin: 0;
}
